<h1>Danny's Blog</h1>

<h2>Recent Posts</h2>

<%= turbo_frame_tag id="posts" do %>
  <div data-controller="hello" >
    <%= link_to "Create new Post", new_post_path, data: { action: "click->hello#alert" } %>
  </div>
<% end %>

<div data-controller="toggle" data-toggle-hidden-class="d-none">
  <div id="all_posts" data-toggle-target="list">
    <%= render @posts %>
  </div>
  <button data-action="toggle#hide">click me</button>
</div>


