<h1>Danny's Blog</h1>

<h2>Recent Posts</h2>

<%= turbo_frame_tag id="posts" do %>
  <div>
    <%= link_to "Create new Post", new_post_path %>
  </div>
<% end %>


<div id="all_posts">
  <% @posts.each do |post| %>
    <%= post.title %> | <%= post.date_created %><br>
  <% end %>
</div>
