<h1>Danny's Blog</h1>

<h2>Recent Posts</h2>

<%= turbo_frame_tag id="posts" do %>
  <div data-controller="hello" >
    <%= link_to "Create new Post", new_post_path, data: { action: "click->hello#alert" } %>
  </div>
<% end %>

<div data-controller="toggle" data-toggle-change-class="d-none">
  <div id="all_posts" data-toggle-target="element">
    <%= render @posts %>
  </div>
  <button data-action="toggle#toggle">Hide Posts</button>
</div><br>


<h2>Favorite Posts</h2>
<div data-controller="toggle" data-toggle-change-class="d-none">
  <div class="d-none" id="favorite_posts" data-toggle-target="element">
    <%= render @posts %>
  </div>
  <button data-action="toggle#toggle">Show Favorites</button>
</div><br>

<div data-controller="toggle" data-toggle-change-class="d-none">
  <button data-toggle-target="element" data-action="toggle#toggle">Click Me</button>
  <button class="d-none" data-toggle-target="element" data-action="toggle#toggle">No, Click ME</button>
</div>

<div data-controller="toggle" data-toggle-change-class="bg-primary">
  <ul>
    <li>
      <input type="checkbox" data-action="change->toggle#toggle" id="Selection[one]">
      <label for="Selection" data-toggle-target="element">Selection</label>
    </li>

    <li>
      <input type="checkbox" data-action="change->toggle#toggle" id="Selection[two]">
      <label for="Selection" data-toggle-target="element">Selection2</label>
    </li>
  </ul>
</div>


