<h1>Danny's Blog</h1>

<h2>Recent Posts</h2>

<%= turbo_frame_tag id="posts" do %>
  <div data-controller="hello" >
    <%= link_to "Create new Post", new_post_path, data: { action: "click->hello#alert" } %>
  </div>
<% end %>

<div data-controller="toggle" data-toggle-change-class="d-none">
  <div id="all_posts" data-toggle-target="secret">
    <%= render @posts %>
  </div>
  <button data-action="toggle#toggle">Hide Posts</button>
</div><br>


<h2>Favorite Posts</h2>
<div data-controller="toggle" data-toggle-change-class="d-block">
  <div style="display: none" id="favorite_posts" data-toggle-target="secret">
    <%= render @posts %>
  </div>
  <button data-action="toggle#toggle">Show Favorites</button>
</div><br>

<div data-controller="toggle" data-toggle-hidden-class="d-none" data-toggle-visible-class="d-block">
  <button data-toggle-target="buttonOne" data-action="toggle#swap">Click Me</button>
  <button style="display: none" data-toggle-target="buttonTwo" data-action="toggle#swap">No, Click ME</button>
</div>


